.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }

    .pick-hour-container {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        button {
            padding: 5px 15px;
            border: 1px solid gray;
        }
    }

    .btn-schedule {
        box-shadow: -1px 2px 4px 0px rgb(12 107 218 / 35%);

        &.active {
            background-color: #45c3d2;
            color: white;
        }
    }
    .btn-save-schedule {
        margin-top: 20px;
    }
}
