.logo-avatar{
    background-image: url("../../../assets/LOGO_PhuocAn.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    width: 160px;
    // transform: scale(0.7, 0.7);
   
    
}