.search__item {
    position: relative;
    .search__item_container {
        padding: 8px 12px;
        width: 280px;
        border-radius: 20px;
        border: 1px solid #ccc;
        outline: none;
        &:focus {
            outline: 1px solid #00a8eb;
        }
    }
    svg {
        position: absolute;
        right: 10px;
        font-size: 20px;
        bottom: 11px;
        color: #727272;
    }
}
